<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Datastreamer Maps Example</h1>
  </div>
</div>
</body>
</html>
